[submodule ".registry"]
	path = .registry
	url = https://github.com/thisisamirv/thisisamirv.r-universe.dev
	branch = HEAD
[submodule "fastlowess"]
	path = fastlowess
	url = https://github.com/thisisamirv/fastLowess-R
